@using TDesignBlazor._5x.Components.Button;
@*@using AntDesign;*@
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<p>11234567</p>
<Button Text="1334"></Button>
<p>11234567</p>
