@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div class="t-head-menu__inner"><div class="t-menu__logo"><img src="https://www.tencent.com/img/index/menu_logo_hover.png" width="136"></div><ul class="t-menu"><li class="t-menu__item t-menu__item--plain"><span class="t-menu__content"><span>菜单1</span></span></li><li class="t-menu__item t-menu__item--plain"><span class="t-menu__content"><span>菜单2</span></span></li></ul></div>

@code {

}
