@namespace TDesignBlazor._6x.Component

<head>
   

</head>

<button type="@Type" class="t-button t-size-m t-button--variant-@Variant t-button--theme-primary" onclick="@OnClick">
    <span class="t-button__text">确定</span>
</button>
