@namespace TDesignBlazor._6x.Component
<div class="t-popup t-select__dropdown" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(40.8px, 596.8px, 0px);" data-popper-placement="bottom-start"><div class="t-popup__content" style="width: 421px;"><div class="t-select__dropdown-inner t-select__dropdown-inner--size-m"><ul class="t-select__list"><li class="t-select-option t-size-m"><span><span>Apple</span></span></li><li class="t-select-option t-size-m"><span>Orange</span></li><li class="t-select-option t-size-m"><span><span>Banana</span></span></li></ul></div></div></div>

@code {

}
