@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div class="t-input-adornment t-input-adornment--prepend t-input-adornment--append"><span class="t-input-adornment__prepend">http://</span><div class="t-input__wrap"><div class="t-input t-size-m t-is-default"><input autocomplete="" placeholder="请输入内容" type="text" unselectable="off" class="t-input__inner"></div></div><span class="t-input-adornment__append">.com</span></div>

@code {

}
