@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div class="t-breadcrumb"><div class="t-breadcrumb__item light"><span class="t-breadcrumb--text-overflow"><span class="t-breadcrumb__inner" style="max-width: 150px;">页面1</span></span><span class="t-breadcrumb__separator"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-right"><path fill="currentColor" d="M6.46 12.46l-.92-.92L9.08 8 5.54 4.46l.92-.92L10.92 8l-4.46 4.46z" fill-opacity="0.9"></path></svg></span></div><div class="t-breadcrumb__item light"><span class="t-breadcrumb--text-overflow"><span class="t-breadcrumb__inner" style="max-width: 150px;">页面2面包屑文案超长时悬浮显示文案全部信息</span></span><span class="t-breadcrumb__separator"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-right"><path fill="currentColor" d="M6.46 12.46l-.92-.92L9.08 8 5.54 4.46l.92-.92L10.92 8l-4.46 4.46z" fill-opacity="0.9"></path></svg></span></div><div class="t-breadcrumb__item light"><span class="t-breadcrumb--text-overflow"><span class="t-breadcrumb__inner" style="max-width: 160px;">面包屑中文案过长时可缩略显示，鼠标hover时显示全部</span></span><span class="t-breadcrumb__separator"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-right"><path fill="currentColor" d="M6.46 12.46l-.92-.92L9.08 8 5.54 4.46l.92-.92L10.92 8l-4.46 4.46z" fill-opacity="0.9"></path></svg></span></div></div>
@code {

}
