@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div class="t-slider__container" aria-valuetext="0"><div role="slider" aria-valuemin="0" aria-valuemax="100" aria-orientation="horizontal" class="t-slider"><div class="t-slider__rail"><div class="t-slider__track" style="width: 0%; left: 0%;"></div><div tabindex="0" show-tooltip="true" class="t-slider__button-wrapper" style="left: 0%;"><div class="t-slider__button"></div></div></div></div></div>

@code {

}
