@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase


<div slot="progress" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div style="width: 200px;">
        
        
        <div class="t-progress">
            <div class="t-progress--thin t-progress--status--undefined">
                <div class="t-progress__bar">
    <div class="t-progress__inner" style="width: 50%;"></div></div><div class="t-progress__info">50%</div></div>
    </div>
    



</div></div>


@code {

}
