@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div class="t-select-input__wrap"><div class="t-input__wrap t-select-input--empty"><div class="t-input t-size-m t-is-readonly t-input--prefix"><div class="t-input__prefix"></div><input readonly="readonly" autocomplete="" placeholder="" type="text" unselectable="on" class="t-input__inner"></div></div><div class="t-input__tips t-input__tips--normal">这是 tips 文本信息</div></div>

@code {

}
