@namespace TDesignBlazor._6x.Component


<div slot="badge" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="t-badge">

    </div>
</div>



@code {

}
