@namespace TDesignBlazor._6x.Component

<div class="t-divider t-divider--horizontal t-divider--with-text t-divider--with-text-center"><span class="t-divider__inner-text">TDesign</span></div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
