@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-input__wrap t-tag-input"><div class="t-input t-size-m t-is-default t-input--prefix"><div class="t-input__prefix"></div><input autocomplete="" placeholder="请输入" type="text" unselectable="off" class="t-input__inner"></div></div>

@code {

}
