@namespace TDesignBlazor._6x.Component

<div slot="notification" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="t-notification">
     @*   <div class="t-notification__icon">
            <svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-info-circle-filled t-is-info">
                <path fill="currentColor" d="M8 15A7 7 0 108 1a7 7 0 000 14zM7.4 4h1.2v1.2H7.4V4zm.1 2.5h1V12h-1V6.5z" fill-opacity="0.9"></path>
                </svg></div><div class="t-notification__main"><div class="t-notification__title__wrap">
                    <span class="t-notification__title">标题名称</span><span class="t-message__close">

</span>
</div>
<div class="t-notification__content">这是一条消息通知</div>
</div>*@
</div>
</div>
@code {

}
