@namespace TDesignBlazor._6x.Component
<a target class="t-link t-size-m t-link--theme-default t-link--hover-underline"> @ChildContent </a>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
