@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div slot="avatar" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="t-avatar t-avatar--circle">
        
    
    </div>
</div>




@code {

}
