@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase

<div slot="skeleton" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    
    <div class="t-skeleton">
   @*     <div class="t-skeleton__row"><div class="t-skeleton__col t-skeleton--type-text"></div>
   

</div>*@

</div>


</div>


@code {

}
