@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-card t-card--bordered " style="@Style">
    @if (!string.IsNullOrEmpty(Title))
    {
        <div class="t-card__header">
            <div class="t-card__header-wrapper">
                <div>
                    <span class="t-card__title">@Title</span>
                </div>
            </div>
            <div class="t-card__actions">
                @Actions
            </div>
        </div>
    }
    <div class="t-card__body">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Actions { get; set; }
    [Parameter]
    public string Avatar { get; set; }
    [Parameter]
    public bool Bordered { get; set; } = true;
    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public string Cover { get; set; }
    [Parameter]
    public string @Default { get; set; }
    [Parameter]
    public string @Description { get; set; }
    [Parameter]
    public string Footer { get; set; }
    [Parameter]
    public string Header { get; set; }
    [Parameter]
    public bool HeaderBordered { get; set; } = false;
    [Parameter]
    public bool HoverShadow { get; set; } = false;
    [Parameter]
    public bool Hoading { get; set; } = false;
    [Parameter]
    public bool Shadow { get; set; } = false;
    [Parameter]
    public string Size { get; set; } = "medium";
    [Parameter]
    public string Status { get; set; }
    [Parameter]
    public string Subtitle { get; set; }
    [Parameter]
    public string Theme { get; set; } = "normal";
    [Parameter]
    public string Title { get; set; }

}
