@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase

<div slot="dropdown" style="width: 100%; display: flex; align-items: center; justify-content: center;"><button type="button" class="t-button t-size-m t-button--variant-base t-button--theme-primary" style="position: relative;"><span class="t-button__text" style="">更多...</span></button></div>

@code {

}
