@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<li class="t-menu__item"><svg class="t-icon t-icon-app"><use href="#t-icon-app"></use></svg><span class="t-menu__content"> 仪表盘 </span></li>

@code {

}
