@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<label class="t-radio"><input type="radio" class="t-radio__former" value="false" name=""><span class="t-radio__input"></span><span class="t-radio__label">单选框</span></label>

@code {

}
