@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase


<div slot="tooltip" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    @*<button type="button" class="t-button t-size-m t-button--variant-base t-button--theme-primary"><span class="t-button__text">hover me</span></button>*@
    </div>
@code {

}
