@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div class="t-row t-row--start t-row--align-top" style="margin-left: 0px; margin-right: 0px;">
</div>

@code {

}
