@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase

<div slot="swiper" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    
@*<div style="width: 500px;"><div class="t-swiper"><div class="t-swiper__wrap t-swiper--inside"><div class="t-swiper__content"><div class="t-swiper__container" style="transform: translate3d(-200%, 0px, 0px);"><div class="t-swiper__container__item"><div style="height: 200px; background: var(--td-success-color-7);"></div></div><div class="t-swiper__container__item"><div style="height: 200px; background: var(--td-warning-color-7);"></div></div><div class="t-swiper__container__item"><div style="height: 200px; background: var(--td-error-color-7);"></div></div></div></div><ul class="t-swiper__navigation t-swiper__navigation-bars"><li class="t-swiper__navigation-item"><span></span></li><li class="t-swiper__navigation-item"><span></span></li><li class="t-swiper__navigation-item t-swiper-is-active"><span></span></li></ul><div class="t-swiper__arrow t-swiper__arrow--default"><div class="t-swiper__arrow-left"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-left"><path fill="currentColor" d="M9.54 3.54l.92.92L6.92 8l3.54 3.54-.92.92L5.08 8l4.46-4.46z" fill-opacity="0.9"></path></svg></div><div class="t-swiper__arrow-right"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-right"><path fill="currentColor" d="M6.46 12.46l-.92-.92L9.08 8 5.54 4.46l.92-.92L10.92 8l-4.46 4.46z" fill-opacity="0.9"></path></svg></div></div></div></div>




</div>*@


</div>




@code {

}
