@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-switch t-size-m"><span class="t-switch__handle"></span><div class="t-switch__content t-size-m"></div></div>

@code {

}
