<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TDesignBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 关于
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link">
                基础
            </NavLink>
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="button">
                        Button
                    </NavLink>

                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="icon">
                        Icon
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="link">
                        Link
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link">
                布局
            </NavLink>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="space">
                Space
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid">
                Grid
            </NavLink>
        </li>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
