@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-col t-col-@Span @Class" style="@Style" > 
    @ChildContent
</div>


@code {
    [Parameter]
    public string Flex { get; set; }
    [Parameter]
    public string Lg { get; set; }
    [Parameter]
    public string Md { get; set; }
    [Parameter]
    public string Offset { get; set; }
    [Parameter]
    public string Order { get; set; }
    [Parameter]
    public string Pull { get; set; }
    [Parameter]
    public string Push { get; set; }
    [Parameter]
    public string Sm { get; set; }
    [Parameter]
    public int Span { get; set; }
    [Parameter]
    public string Tag { get; set; }
    [Parameter]
    public string Xl { get; set; }
    [Parameter]
    public string Xs { get; set; }
    [Parameter]
    public string Xxl { get; set; }


}
