@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-steps t-steps--horizontal t-steps--positive t-steps--default-anchor t-steps--line-separator"><div class="t-steps-item t-steps-item--finish"><div class="t-steps-item__inner t-steps-item--clickable"><div class="t-steps-item__icon t-steps-item--finish"><span class="t-steps-item__icon--number"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-check"><path fill="currentColor" d="M6.43 9.92l6.23-6.22.92.92-7.15 7.14L1.97 7.3l.92-.92 3.54 3.54z" fill-opacity="0.9"></path></svg></span></div><div class="t-steps-item__content"><div class="t-steps-item__title">步骤1</div><div class="t-steps-item__description">提示文字</div><div class="t-steps-item__extra"></div></div></div></div><div class="t-steps-item t-steps-item--process"><div class="t-steps-item__inner "><div class="t-steps-item__icon t-steps-item--process"><span class="t-steps-item__icon--number">2</span></div><div class="t-steps-item__content"><div class="t-steps-item__title">步骤2</div><div class="t-steps-item__description">提示文字</div><div class="t-steps-item__extra"></div></div></div></div><div class="t-steps-item t-steps-item--default"><div class="t-steps-item__inner t-steps-item--clickable"><div class="t-steps-item__icon t-steps-item--default"><span class="t-steps-item__icon--number">3</span></div><div class="t-steps-item__content"><div class="t-steps-item__title">步骤3</div><div class="t-steps-item__description">提示文字</div><div class="t-steps-item__extra"></div></div></div></div></div>

@code {

}
