@namespace TDesign.Component

@using TDesign.Core.Base
@inherits TDesignComponentBase

<div slot="tag" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    @*<span class="t-tag t-tag--default t-size-m t-tag--dark">标签</span>*@
    </div>

@code {

}
