@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-jumper"><button type="button" class="t-button t-size-m t-button--variant-text t-button--theme-default t-button--shape-square t-jumper__prev"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-left"><path fill="currentColor" d="M9.54 3.54l.92.92L6.92 8l3.54 3.54-.92.92L5.08 8l4.46-4.46z" fill-opacity="0.9"></path></svg></button><button type="button" class="t-button t-size-m t-button--variant-text t-button--theme-default t-button--shape-square t-jumper__current" style="position: relative;"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-round" style=""><path fill="currentColor" d="M8 11.5a3.5 3.5 0 110-7 3.5 3.5 0 010 7zM8 13A5 5 0 108 3a5 5 0 000 10z" fill-opacity="0.9"></path></svg></button><button type="button" class="t-button t-size-m t-button--variant-text t-button--theme-default t-button--shape-square t-jumper__next" style="position: relative;"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-chevron-right" style="z-index: 1;"><path fill="currentColor" d="M6.46 12.46l-.92-.92L9.08 8 5.54 4.46l.92-.92L10.92 8l-4.46 4.46z" fill-opacity="0.9"></path></svg></button></div>

@code {

}
