@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
@{
    var classString = "";
    if (BreakLine && Direction == "horizontal")
    {
          classString = "flex-wrap: wrap;";
    }
   
}
<div class="t-space t-space-@Direction" style="gap: 16px; width: 100%; text-align: @Align; @classString">@ChildContent</div>

@code {
    [Parameter]
    public string Align { get; set; } = "center";
    [Parameter]
    public bool BreakLine { get; set; } = false;
    [Parameter]
    public string Direction { get; set; } = "horizontal";
    [Parameter]
    public int Separator { get; set; }
    [Parameter]
    public string Size { get; set; } = "medium";

}
