@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-anchor t-size-m"><div class="t-anchor__line"><div class="t-anchor__line-cursor-wrapper" style=""><div class="t-anchor__line-cursor"></div></div></div><div class="t-anchor__item"><a href="#锚点一" title="基础锚点" target="_self" class="t-anchor__item-link">基础锚点</a></div><div class="t-anchor__item"><a href="#锚点二" title="多级锚点" target="_self" class="t-anchor__item-link">多级锚点</a></div><div class="t-anchor__item"><a href="#锚点三" title="指定容器锚点" target="_self" class="t-anchor__item-link">指定容器锚点</a></div></div>

@code {

}
