@namespace TDesignBlazor._6x.Component
@using TDesignBlazor._6x.Core.Base
@inherits TDesignComponentBase
<div slot="collapse" style="width: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="t-collapse">
       @* <div class="t-collapse-panel">
            <div class="t-collapse-panel__wrapper">
                <div class="t-collapse-panel__header t-is-clickable">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="t-fake-arrow t-collapse-panel__icon t-collapse-panel__icon--left" name="arrow">
                        <path d="M3.75 5.7998L7.99274 10.0425L12.2361 5.79921" stroke="black" stroke-opacity="0.9" stroke-width="1.3"></path>
                        </svg>这是一个折叠标题<div class="t-collapse-panel__header--blank"></div>
                        </div><div class="t-collapse-panel__body" style="display: none;">
                            <div class="t-collapse-panel__content"> 这部分是每个折叠面板折叠或展开的内容，可根据不同业务或用户的使用诉求，进行自定义填充。可以是纯文本、图文、子列表等内容形式。 </div>
                            </div></div></div><div class="t-collapse-panel">
                                <div class="t-collapse-panel__wrapper">
                                    <div class="t-collapse-panel__header t-is-clickable">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="t-fake-arrow t-collapse-panel__icon t-collapse-panel__icon--left" name="arrow"><path d="M3.75 5.7998L7.99274 10.0425L12.2361 5.79921" stroke="black" stroke-opacity="0.9" stroke-width="1.3"></path></svg>这是一个折叠标题<div class="t-collapse-panel__header--blank"></div></div><div class="t-collapse-panel__body" style="display: none;"><div class="t-collapse-panel__content"> 这部分是每个折叠面板折叠或展开的内容，可根据不同业务或用户的使用诉求，进行自定义填充。可以是纯文本、图文、子列表等内容形式。 </div>
</div></div></div>*@
</div>
</div>



@code {

}
