@namespace TDesign.Component
@using TDesign.Core.Base
@inherits TDesignComponentBase
<div class="t-input__wrap"><div class="t-input t-size-m"><input autocomplete="" placeholder="请输入" type="text" unselectable="off" class="t-input__inner"></div></div>

@code {

}
