@page "/button"

<h1>Button</h1>

@code{

    private void OnYes()
    {
        Console.WriteLine("Write to the console in C#! 'Yes' button selected.");
    }
}

<h4>测试</h4>
<TCard>
    <TSpace>
        <TButton>确定</TButton>
    </TSpace>
</TCard>

<h4>基础按钮</h4>
<TCard>
    <TSpace>
        <TButton Theme="default" Variant="base">填充按钮</TButton>
        <TButton Theme="default" Variant="outline">描边按钮</TButton>
        <TButton Theme="default" Variant="dashed">虚框按钮</TButton>
        <TButton Theme="default" Variant="text">文字按钮</TButton>
    </TSpace>
</TCard>

<h4>图标按钮</h4>

<TCard>
    <TSpace>
        <TButton Theme="primary">
            <TIcon Name="add"></TIcon>
            新建
        </TButton>
        <TButton Variant="outline">
            <TIcon Name="cloud-upload"></TIcon>
            上传文件
        </TButton>
        <TButton Shape="circle" Theme="primary">
            <TIcon Name="discount"></TIcon>
        </TButton>
        <TButton Shape="circle" Theme="primary">
            <TIcon Name="cloud-download"></TIcon>
        </TButton>
        <TButton Variant="outline">
            <TIcon Name="search"></TIcon>搜索
        </TButton>
    </TSpace>
</TCard>


<TPopup></TPopup>
<TPopconfirm></TPopconfirm>
<TMessage></TMessage>
<TNotification></TNotification>
<TDrawer></TDrawer>
<TDialog></TDialog>
<TAlert></TAlert>
<TWatermark></TWatermark>
<TTree></TTree>
<TTooltip></TTooltip>
<TTag></TTag>
<TBaseTable></TBaseTable>
<TSwiper></TSwiper>
<TSkeleton></TSkeleton>
<TProgress></TProgress>
<TLoading></TLoading>
<TLink></TLink>
<TComment></TComment>
<TCollapse></TCollapse>



