@page "/button"

<h1>Button</h1>


<h4>测试</h4>
<TCard>
    <TSpace>
        <TButton>确定</TButton>
    </TSpace>
</TCard>

<h4>基础按钮</h4>
<TCard>
    <TSpace>
        <TButton Theme="default" Variant="base">填充按钮</TButton>
        <TButton Theme="default" Variant="outline">描边按钮</TButton>
        <TButton Theme="default" Variant="dashed">虚框按钮</TButton>
        <TButton Theme="default" Variant="text">文字按钮</TButton>
    </TSpace>
</TCard>

<h4>图标按钮</h4>

<TCard>
    <TSpace>
        <TButton Theme="primary">
            <TIcon Name="add"></TIcon>
            新建
        </TButton>
        <TButton Variant="outline">
            <TIcon Name="cloud-upload"></TIcon>
            上传文件
        </TButton>
        <TButton Shape="circle" Theme="primary">
            <TIcon Name="discount"></TIcon>
        </TButton>
        <TButton Shape="circle" Theme="primary">
            <TIcon Name="cloud-download"></TIcon>
        </TButton>
        <TButton Variant="outline">
            <TIcon Name="search"></TIcon>搜索
        </TButton>
    </TSpace>
</TCard>


<div>
    <div direction="vertical">
        <div>
            <TButton Variant="outline" ghost>幽灵按钮</TButton>
            <TButton Variant="dashed" ghost>幽灵按钮</TButton>
            <TButton Variant="text" ghost>幽灵按钮</TButton>
        </div>
        <div>
            <TButton Variant="outline" Theme="primary" ghost>幽灵按钮</TButton>
            <TButton Variant="dashed" Theme="primary" ghost>幽灵按钮</TButton>
            <TButton Variant="text" Theme="primary" ghost>幽灵按钮</TButton>
        </div>
        <div>
            <TButton Variant="outline" Theme="success" ghost>幽灵按钮</TButton>
            <TButton Variant="dashed" Theme="success" ghost>幽灵按钮</TButton>
            <TButton Variant="text" Theme="success" ghost>幽灵按钮</TButton>
        </div>
        <div>
            <TButton Variant="outline" Theme="warning" ghost>幽灵按钮</TButton>
            <TButton Variant="dashed" Theme="warning" ghost>幽灵按钮</TButton>
            <TButton Variant="text" Theme="warning" ghost>幽灵按钮</TButton>
        </div>
        <div>
            <TButton Variant="outline" Theme="danger" ghost>幽灵按钮</TButton>
            <TButton Variant="dashed" Theme="danger" ghost>幽灵按钮</TButton>
            <TButton Variant="text" Theme="danger" ghost>幽灵按钮</TButton>
        </div>
    </div>
</div>



<div>
    <div direction="vertical" align="center">
        <TButton block Theme="primary" Variant="base">填充按钮</TButton>
        <TButton block Variant="outline">描边按钮</TButton>
        <TButton block Variant="dashed">虚框按钮</TButton>
        <TButton block Variant="text">文字按钮</TButton>
    </div>
</div>
<style lang="less" scoped>
    .TButton {
        min-width: 320px;
        max-width: 640px;
    }
</style>


<div>
    <div direction="vertical">
        <div>
            <TButton Theme="default">填充按钮</TButton>
            <TButton Variant="outline" Theme="default">描边按钮</TButton>
            <TButton Variant="dashed" Theme="default">虚框按钮</TButton>
            <TButton Variant="text" Theme="default">文字按钮</TButton>
        </div>
        <div>
            <TButton Theme="primary">填充按钮</TButton>
            <TButton Variant="outline" Theme="primary">描边按钮</TButton>
            <TButton Variant="dashed" Theme="primary">虚框按钮</TButton>
            <TButton Variant="text" Theme="primary">文字按钮</TButton>
        </div>
        <div>
            <TButton Theme="danger">填充按钮</TButton>
            <TButton Variant="outline" Theme="danger">描边按钮</TButton>
            <TButton Variant="dashed" Theme="danger">虚框按钮</TButton>
            <TButton Variant="text" Theme="danger">文字按钮</TButton>
        </div>
        <div>
            <TButton Theme="warning">填充按钮</TButton>
            <TButton Variant="outline" Theme="warning">描边按钮</TButton>
            <TButton Variant="dashed" Theme="warning">虚框按钮</TButton>
            <TButton Variant="text" Theme="warning">文字按钮</TButton>
        </div>
        <div>
            <TButton Theme="success">填充按钮</TButton>
            <TButton Variant="outline" Theme="success">描边按钮</TButton>
            <TButton Variant="dashed" Theme="success">虚框按钮</TButton>
            <TButton Variant="text" Theme="success">文字按钮</TButton>
        </div>
    </div>
</div>



<div>
    <div>
        <TButton disabled>填充按钮</TButton>
        <TButton loading>加载中</TButton>
    </div>
</div>



<div>
    <div direction="vertical">
        <div>
            <TButton Theme="primary" size="small" Variant="base">填充按钮</TButton>
            <TButton size="small" Variant="outline">描边按钮</TButton>
            <TButton size="small" Variant="dashed">虚框按钮</TButton>
            <TButton size="small" Variant="text">文字按钮</TButton>
        </div>
        <div>
            <TButton Theme="primary" size="medium" Variant="base">填充按钮</TButton>
            <TButton size="medium" Variant="outline">描边按钮</TButton>
            <TButton size="medium" Variant="dashed">虚框按钮</TButton>
            <TButton size="medium" Variant="text">文字按钮</TButton>
        </div>
        <div>
            <TButton Theme="primary" size="large" Variant="base">填充按钮</TButton>
            <TButton size="large" Variant="outline">描边按钮</TButton>
            <TButton size="large" Variant="dashed">虚框按钮</TButton>
            <TButton size="large" Variant="text">文字按钮</TButton>
        </div>
    </div>
</div>


@*<div>
    <div direction="vertical">
        <div>
            <TButton Theme="primary" Shape="rectangle" Variant="base">填充按钮</TButton>
            <TButton Theme="primary" Shape="square" Variant="base"><calendar-icon slot="icon" /></TButton>
            <TButton Theme="primary" Shape="round" Variant="base">填充按钮</TButton>
            <TButton Theme="primary" Shape="circle" Variant="base"><calendar-icon slot="icon" /></TButton>
        </div>
        <div>
            <TButton Shape="rectangle" Variant="outline">描边按钮</TButton>
            <TButton Shape="square" Variant="outline"><calendar-icon slot="icon" /></TButton>
            <TButton Shape="round" Variant="outline">描边按钮</TButton>
            <TButton Shape="circle" Variant="outline"><calendar-icon slot="icon" /></TButton>
        </div>
        <div>
            <TButton Shape="rectangle" Variant="dashed">虚框按钮</TButton>
            <TButton Shape="square" Variant="dashed"><calendar-icon slot="icon" /></TButton>
            <TButton Shape="round" Variant="dashed">虚框按钮</TButton>
            <TButton Shape="circle" Variant="dashed"><calendar-icon slot="icon" /></TButton>
        </div>
        <div>
            <TButton Shape="rectangle" Variant="text">文字按钮</TButton>
            <TButton Shape="square" Variant="text"><calendar-icon slot="icon" /></TButton>
            <TButton Shape="round" Variant="text">文字按钮</TButton>
            <TButton Shape="circle" Variant="text"><calendar-icon slot="icon" /></TButton>
        </div>
    </div>
</div>*@



<div>
    <div size="24px">
        <TButton tag="div">div</TButton>
        <TButton tag="a">a</TButton>
        <TButton href="#">a:href</TButton>
    </div>
</div>
