@page "/icon"

<h1>Icon</h1>
<TCard>
<TIcon Name="add-circle" Style="color:red;"></TIcon>
<TIcon Name="add-rectangle"></TIcon>
<TIcon Name="add"></TIcon>
<TIcon Name="app"></TIcon>
<TIcon Name="arrow-down-rectangle"></TIcon>
<TIcon Name="arrow-down"></TIcon>
<TIcon Name="arrow-left"></TIcon>
<TIcon Name="arrow-right"></TIcon>
<TIcon Name="arrow-up"></TIcon>
<TIcon Name="attach"></TIcon>
<TIcon Name="backtop-rectangle"></TIcon>
<TIcon Name="backtop"></TIcon>
<TIcon Name="backward"></TIcon>
<TIcon Name="barcode"></TIcon>
<TIcon Name="books"></TIcon>
<TIcon Name="browse-off"></TIcon>
<TIcon Name="browse"></TIcon>
<TIcon Name="bulletpoint"></TIcon>
<TIcon Name="calendar"></TIcon>
<TIcon Name="call"></TIcon>
<TIcon Name="caret-down-small"></TIcon>
<TIcon Name="caret-down"></TIcon>
<TIcon Name="caret-left-small"></TIcon>
<TIcon Name="caret-left"></TIcon>
<TIcon Name="caret-right-small"></TIcon>
<TIcon Name="caret-right"></TIcon>
<TIcon Name="caret-up-small"></TIcon>
<TIcon Name="caret-up"></TIcon>
<TIcon Name="cart"></TIcon>
<TIcon Name="chart-bar"></TIcon>
<TIcon Name="chart-bubble"></TIcon>
<TIcon Name="chart-pie"></TIcon>
<TIcon Name="chart"></TIcon>
<TIcon Name="chat"></TIcon>
<TIcon Name="check-circle-filled"></TIcon>
<TIcon Name="check-circle"></TIcon>
<TIcon Name="check-rectangle-filled"></TIcon>
<TIcon Name="check-rectangle"></TIcon>
<TIcon Name="check"></TIcon>
<TIcon Name="chevron-down-circle"></TIcon>
<TIcon Name="chevron-down-rectangle"></TIcon>
<TIcon Name="chevron-down"></TIcon>
<TIcon Name="chevron-left-circle"></TIcon>
<TIcon Name="chevron-left-double"></TIcon>
<TIcon Name="chevron-left-rectangle"></TIcon>
<TIcon Name="chevron-left"></TIcon>
<TIcon Name="chevron-right-circle"></TIcon>
<TIcon Name="chevron-right-double"></TIcon>
<TIcon Name="chevron-right-rectangle"></TIcon>
<TIcon Name="chevron-right"></TIcon>
<TIcon Name="chevron-up-circle"></TIcon>
<TIcon Name="chevron-up-rectangle"></TIcon>
<TIcon Name="chevron-up"></TIcon>
<TIcon Name="circle"></TIcon>
<TIcon Name="clear"></TIcon>
<TIcon Name="close-circle-filled"></TIcon>
<TIcon Name="close-circle"></TIcon>
<TIcon Name="close-rectangle"></TIcon>
<TIcon Name="close"></TIcon>
<TIcon Name="cloud-download"></TIcon>
<TIcon Name="cloud-upload"></TIcon>
<TIcon Name="cloud"></TIcon>
<TIcon Name="code"></TIcon>
<TIcon Name="control-platform"></TIcon>
<TIcon Name="creditcard"></TIcon>
<TIcon Name="dashboard"></TIcon>
<TIcon Name="delete"></TIcon>
<TIcon Name="desktop"></TIcon>
<TIcon Name="discount-filled"></TIcon>
<TIcon Name="discount"></TIcon>
<TIcon Name="download"></TIcon>
<TIcon Name="edit-1"></TIcon>
<TIcon Name="edit"></TIcon>
<TIcon Name="ellipsis"></TIcon>
<TIcon Name="enter"></TIcon>
<TIcon Name="error-circle-filled"></TIcon>
<TIcon Name="error-circle"></TIcon>
<TIcon Name="error"></TIcon>
<TIcon Name="file-add"></TIcon>
<TIcon Name="file-copy"></TIcon>
<TIcon Name="file-excel"></TIcon>
<TIcon Name="file-icon"></TIcon>
<TIcon Name="file-image"></TIcon>
<TIcon Name="file-paste"></TIcon>
<TIcon Name="file-pdf"></TIcon>
<TIcon Name="file-powerpoint"></TIcon>
<TIcon Name="file-unknown"></TIcon>
<TIcon Name="file-word"></TIcon>
<TIcon Name="file"></TIcon>
<TIcon Name="filter-clear"></TIcon>
<TIcon Name="filter"></TIcon>
<TIcon Name="flag"></TIcon>
<TIcon Name="folder-add"></TIcon>
<TIcon Name="folder-open"></TIcon>
<TIcon Name="folder"></TIcon>
<TIcon Name="fork"></TIcon>
<TIcon Name="format-horizontal-align-bottom"></TIcon>
<TIcon Name="format-horizontal-align-center"></TIcon>
<TIcon Name="format-horizontal-align-top"></TIcon>
<TIcon Name="format-vertical-align-center"></TIcon>
<TIcon Name="format-vertical-align-left"></TIcon>
<TIcon Name="format-vertical-align-right"></TIcon>
<TIcon Name="forward"></TIcon>
<TIcon Name="fullscreen-exit"></TIcon>
<TIcon Name="fullscreen"></TIcon>
<TIcon Name="gender-female"></TIcon>
<TIcon Name="gender-male"></TIcon>
<TIcon Name="gift"></TIcon>
<TIcon Name="heart-filled"></TIcon>
<TIcon Name="heart"></TIcon>
<TIcon Name="help-circle-filled"></TIcon>
<TIcon Name="help-circle"></TIcon>
<TIcon Name="help"></TIcon>
<TIcon Name="history"></TIcon>
<TIcon Name="home"></TIcon>
<TIcon Name="hourglass"></TIcon>
<TIcon Name="image-error"></TIcon>
<TIcon Name="image"></TIcon>
<TIcon Name="info-circle-filled"></TIcon>
<TIcon Name="info-circle"></TIcon>
<TIcon Name="internet"></TIcon>
<TIcon Name="jump"></TIcon>
<TIcon Name="laptop"></TIcon>
<TIcon Name="layers"></TIcon>
<TIcon Name="link-unlink"></TIcon>
<TIcon Name="link"></TIcon>
<TIcon Name="loading"></TIcon>
<TIcon Name="location"></TIcon>
<TIcon Name="lock-off"></TIcon>
<TIcon Name="lock-on"></TIcon>
<TIcon Name="login"></TIcon>
<TIcon Name="logo-android"></TIcon>
<TIcon Name="logo-apple-filled"></TIcon>
<TIcon Name="logo-apple"></TIcon>
<TIcon Name="logo-chrome-filled"></TIcon>
<TIcon Name="logo-chrome"></TIcon>
<TIcon Name="logo-codepen"></TIcon>
<TIcon Name="logo-github-filled"></TIcon>
<TIcon Name="logo-github"></TIcon>
<TIcon Name="logo-ie-filled"></TIcon>
<TIcon Name="logo-ie"></TIcon>
<TIcon Name="logo-qq"></TIcon>
<TIcon Name="logo-wechat"></TIcon>
<TIcon Name="logo-wecom"></TIcon>
<TIcon Name="logo-windows-filled"></TIcon>
<TIcon Name="logo-windows"></TIcon>
<TIcon Name="logout"></TIcon>
<TIcon Name="mail"></TIcon>
<TIcon Name="menu-fold"></TIcon>
<TIcon Name="menu-unfold"></TIcon>
<TIcon Name="minus-circle-filled"></TIcon>
<TIcon Name="minus-circle"></TIcon>
<TIcon Name="minus-rectangle"></TIcon>
<TIcon Name="mirror"></TIcon>
<TIcon Name="mobile-vibrate"></TIcon>
<TIcon Name="mobile"></TIcon>
<TIcon Name="money-circle"></TIcon>
<TIcon Name="more"></TIcon>
<TIcon Name="move"></TIcon>
<TIcon Name="next"></TIcon>
<TIcon Name="notification-filled"></TIcon>
<TIcon Name="notification"></TIcon>
<TIcon Name="order-adjustment-column"></TIcon>
<TIcon Name="order-ascending"></TIcon>
<TIcon Name="order-descending"></TIcon>
<TIcon Name="page-first"></TIcon>
<TIcon Name="page-last"></TIcon>
<TIcon Name="pause-circle-filled"></TIcon>
<TIcon Name="photo"></TIcon>
<TIcon Name="pin-filled"></TIcon>
<TIcon Name="pin"></TIcon>
<TIcon Name="play-circle-filled"></TIcon>
<TIcon Name="play-circle-stroke"></TIcon>
<TIcon Name="play-circle"></TIcon>
<TIcon Name="play"></TIcon>
<TIcon Name="poweroff"></TIcon>
<TIcon Name="precise-monitor"></TIcon>
<TIcon Name="previous"></TIcon>
<TIcon Name="print"></TIcon>
<TIcon Name="qrcode"></TIcon>
<TIcon Name="queue"></TIcon>
<TIcon Name="rectangle"></TIcon>
<TIcon Name="refresh"></TIcon>
<TIcon Name="relativity"></TIcon>
<TIcon Name="remove"></TIcon>
<TIcon Name="rollback"></TIcon>
<TIcon Name="rollfront"></TIcon>
<TIcon Name="root-list"></TIcon>
<TIcon Name="rotation"></TIcon>
<TIcon Name="round"></TIcon>
<TIcon Name="save"></TIcon>
<TIcon Name="scan"></TIcon>
<TIcon Name="search"></TIcon>
<TIcon Name="secured"></TIcon>
<TIcon Name="server"></TIcon>
<TIcon Name="service"></TIcon>
<TIcon Name="setting"></TIcon>
<TIcon Name="share"></TIcon>
<TIcon Name="shop"></TIcon>
<TIcon Name="slash"></TIcon>
<TIcon Name="sound"></TIcon>
<TIcon Name="star-filled"></TIcon>
<TIcon Name="star"></TIcon>
<TIcon Name="stop-circle-1"></TIcon>
<TIcon Name="stop-circle-filled"></TIcon>
<TIcon Name="stop-circle"></TIcon>
<TIcon Name="stop"></TIcon>
<TIcon Name="swap-left"></TIcon>
<TIcon Name="swap-right"></TIcon>
<TIcon Name="swap"></TIcon>
<TIcon Name="thumb-down"></TIcon>
<TIcon Name="thumb-up"></TIcon>
<TIcon Name="time-filled"></TIcon>
<TIcon Name="time"></TIcon>
<TIcon Name="tips"></TIcon>
<TIcon Name="tools"></TIcon>
<TIcon Name="unfold-less"></TIcon>
<TIcon Name="unfold-more"></TIcon>
<TIcon Name="upload"></TIcon>
<TIcon Name="usb"></TIcon>
<TIcon Name="user-add"></TIcon>
<TIcon Name="user-avatar"></TIcon>
<TIcon Name="user-circle"></TIcon>
<TIcon Name="user-clear"></TIcon>
<TIcon Name="user-talk"></TIcon>
<TIcon Name="user"></TIcon>
<TIcon Name="usergroup-add"></TIcon>
<TIcon Name="usergroup-clear"></TIcon>
<TIcon Name="usergroup"></TIcon>
<TIcon Name="video"></TIcon>
<TIcon Name="view-column"></TIcon>
<TIcon Name="view-list"></TIcon>
<TIcon Name="view-module"></TIcon>
<TIcon Name="wallet"></TIcon>
<TIcon Name="wifi"></TIcon>
<TIcon Name="zoom-in"></TIcon>
<TIcon Name="zoom-out"></TIcon>

</TCard>
